
<h1>Codeial/<%=title%></h1>
<p>It our home page</p>

<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" placeholder="write here" cols="30" rows="4"></textarea>
        <input type="submit" value="POST">
    </form>
    <%}%>
    <div id="posts-list-cont">
        <ul>
            <%for(post of posts){%>
                <li>
                    <p>
                        
                        <% if (locals.user && locals.user.id == post.user.id){ %>
                            <small>
                                <a href="/posts/destroy/<%= post.id %>">X</a>
                            </small>
                        <% } %>
                       
                        
                        <%= post.content %>
                        <br>
                        <small><%= post.user.name%></small>
                       
                    </p>
                    <div class="post-comments">
                        <% if(locals.user){%>
                            <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="commet here...">
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <input type="submit" value="Add Comment">
                            </form>
                        <%}%>
                        <div class="post-comments-list">
                            <ul id="comments-list <%=post._id%>">
                                <%for(i of post.comments){%>
                                    <P>

                                        <% if (locals.user && locals.user.id == i.user.id){ %>
                                            <small>
                                                <a href="/comments/destroy/<%= i.id %>">X</a>
                                            </small>
                                        <% } %>

                                            <%= i.content%>
                                            <br>
                                            <small>
                                                <%= i.user.name%>
                                            </small>
                                        
                                    </P>
    
                                <%}%>
                                
                            </ul>
                        </div>
    
                    </div>
                </li>
            <%} %>

        </ul>
    </div>
</section>